VITE_FIREBASE_API_KEY=AIzaSyBf0M52uBTGDaf1osoj6j-ouCUZeKJUYOk
VITE_FIREBASE_AUTH_DOMAIN=fluentia-7ec74.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fluentia-7ec74
VITE_FIREBASE_STORAGE_BUCKET=fluentia-7ec74.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=159425331643
VITE_FIREBASE_APP_ID=1:159425331643:web:e5dfacb289229dc7b5049e
VITE_GEMINI_API_KEY=AIzaSyAIbxPRGXBPmpkKKylkbzdgDb55p7iSFcE
